{# index.html #}
{% extends "cvs/base.html" %}
{% block title %}CVs Index{% endblock %}
{% block header %}CVs Index{% endblock %}
{% block content %}
    <section>
    {% if cv_list %}
        <div class="row row-cols-1 row-cols-md-2 g-3 list-unstyled">
        {% for cv in cv_list %}
            <div class="col">
            <a href="{{ cv.id }}/summary/" class="text-decoration-none text-dark fw-semibold d-block p-3 bg-white rounded shadow-sm hover-shadow">
            {{ cv.name }} <span class="text-muted d-block small">{{ cv.job_title.name }}</span>
            </a>
            </div>
        {% endfor %}
        </div>

    {% else %}
        <p>No CVs available at the moment.</p>
    {% endif %}
    </section>
{% endblock %}
